@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
}

canvas {
  position: fixed;
  inset: 0;
}

aside:not(.w-32) .experiment-cards-container {
  display: none;
}
