@import 'tailwindcss';

* {
  box-sizing: border-box;
  color: #d1d5dc;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

aside:not(.w-32) .experiment-cards-container {
  display: none;
}

aside {
  z-index: 50 !important;
}
